@{
    var message     = "";
    var db          = Database.Open("Classifieds");
    var sql         = "SELECT UserName FROM Users";
    var users       = db.Query(sql);
    var roles       = Roles.GetAllRoles();
    
    if(IsPost){
        var user  = Request.Form["user"];
        var role  = Request.Form["role"];
        
        // if user is not selected & role is not selected
        if(!user.IsEmpty() && !role.IsEmpty() ){
            // if user is not in Role
            if(!Roles.IsUserInRole(user, role) ){
                // check if Role exists
                if(Roles.RoleExists(role) ){
                    // add user to role
                    Roles.AddUsersToRoles( new[]{user}, new[]{role} );
                    message  = user + " added to the " + role + " Role";
                }
                else{
                    message  = role + " no longer exists!";
                }
            }
            else{
                message  = user + " is already in the " + role + " Role";
            }
        }
    }
}

<form method="post">
    <div>@message</div>
    <fieldset>
        <legend>Add User To Role</legend>
        <div>
            <label>Select User:</label>
            <!-- select option for Users -->
            <select name="user">
                <option value="">--Choose user--</option>
                @foreach(var user in users){
                    <option>@user.UserName</option>
                }
            </select>
        </div>
        <br/>
        <div>
             <label>Select Role:</label>
            <!-- select option for Rooes -->
            <select name="role">
                <option value="">--Choose role---</option>
                @foreach(var role in roles){
                    <option>@role</option>
                }
            </select>
        </div>
        <br/>
        <div>
            <input type="submit" value="Add User"/>
        </div>
    </fieldset>
</form>    