@{
    var category = "";
    var message  = "";
    var sql = "";
    var db  = Database.Open("Classifieds");
    
    if(Request["categoryId"].AsInt() > 0 ){
        /// if the top <form> is not submitted
        /// execute code block and get value of
        /// category ID
        if(!IsPost){
            sql = "SELECT Category FROM Categories WHERE CategoryId = @0";
            /// extract the category name and update the 
            /// second <form><input>text value
            category = db.QueryValue(sql, Request["categoryId"]);
        }
        else{
            // if category is not empty
            if(!Request["category"].IsEmpty() ){
                sql = "UPDATE Categories SET Category = @0 WHERE CategoryId = @1";
                db.Execute(sql, Request["category"], Request["categoryId"]);
                message = "Category changed to " + Request["category"];
            }
        }
    }
    /// retrun all rows for the <form><select><option>
    /// this code block get excuted the first time the page loads
    sql ="SELECT * FROM Categories";
    var categories = db.Query(sql);
}

<form>
    <div>
        Select Category:
        <select name="categoryId">
            <option value="0">--Select Category--</option>
            @foreach(var cat in categories){
                <option value="@cat.CategoryId">@cat.Category</option>
            }
        </select>
        <input type="submit" value="Select"/>
    </div>    
</form>

<form method="post">
    <br/>
    <div>@message</div><br/>    
    <fieldset>
    <legend>Update Category</legend><br/>    
    <div>
        <label for="category">Category:</label>
    </div>
    <div>
        <input type="text" name="category" value="@category"/>
    </div>
    <br/>
    <div>
        <input type="submit" value="Update"/>
    </div>
    </fieldset>    
</form>

