@{
    var message = "";
    if(IsPost){
        if(!Request["category"].IsEmpty() ){
            var db = Database.Open("Classifieds");
            var sql= "INSERT INTO Categories (Category) VALUES (@0)";
            db.Execute(sql, Request["category"]);
            var id = db.GetLastInsertId();
            message= Request["category"] + " was added with ID: " + id;
        }
    }
}

    
<form method="post">
    <div>@message</div>
    <fieldset>
    <legend>Create a Category</legend><br/>
        <div>
            <label for="category">Category:</label>
        </div>
        <div>
            <input type="text" name="category"/>
        </div>
        <br/>
        <div>
            <input type="submit" value="Add" />
        </div>
    </fieldset>
</form>
 