@{
    var message  = "";
    var sql = "";
    var db  = Database.Open("Classifieds");
    
    if(Request["categoryId"].AsInt() > 0 ){
        sql = "DELETE FROM Categories WHERE CategoryId = @0";
        try{
            db.Execute(sql, Request["categoryId"]);
            message = "Category deleted. Delete another?";
        }
        catch(Exception ex){
            message = "Category could not be deleted. Other references exist";
        }
    }
    /// retrun all rows for the <form><select><option>
    /// this code block get excuted the first time the page loads
    sql ="SELECT * FROM Categories";
    var categories = db.Query(sql);
}

<form>
    <fieldset>
        <legend>Delete Category</legend>
        <div>@message</div><br/>
        <div>
            <label>Select Category to delete:</label>
            <select name="categoryId">
                <option value="0">--Select Category--</option>
                @foreach(var cat in categories){
                    <option value="@cat.CategoryId">@cat.Category</option>
                }
            </select>
            <input type="submit" value="Select"/>
        </div>    
    </fieldset>
</form>