@{
    Page.Title  = "Registration Confirmation Page";
    
    var message           = string.Empty;
    var confirmationToken = Request["confirmationCode"];
    
    // remove previous token cookie
    WebSecurity.Logout();
    
    if(!confirmationToken.IsEmpty() ){
        // confirmation code is entered manualy matches token
        if(WebSecurity.ConfirmAccount(confirmationToken.Trim() ) ){
            message  = @"Registration Confirmed! ";
            message += "Click <a href=\"/Account/Login\">here</a>";
            message += " to log in to the site.";
        }
        else{
            message  = "Could not confirm your registration info";
        }
    }
}

@if(!message.IsEmpty() ){
    <p>@Html.Raw(message)</p>
}
else{
    <form method="post" action="">
        <fieldset>
            <legend>Confirmation Code</legend>
            <label>
                Please enter the confirmation code sent to you via email and
                then click the <em>Confirm</em> button.
            </label>
            <input type="text" id="confirmationCode" name="confirmationCode"/>
            <input type="submit" value="Confirm"/>
        </fieldset>
    </form>
}