@{
    Page.Title   = "Thanks for registering";
}

<h2>Thanks for registering</h2>
<!-- If the user hasn't been authenticate by the token
 then give them direction on how to complete registration -->
@if(!WebSecurity.IsAuthenticated){
    <p>
        An email with instructions on how to activate
        your account has been sent to you.
    </p>
}
else{
    <p>
        Please use the navigation bar above to find your way around.
    </p>
}