<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
	Get help on using Tweet My Ads! at the
	<a href="#">Tweet My Ads!</a>.
	To get help on this app, see the
	<a href="#">Help with Tweet My Ads!</a>.
</p>
